.App {
  text-align: center;
  height: 100vh;
  color: #575757;
}

.border {
  border: 1px solid #808080;
  border-radius: 3px;
}

.button {
  background-color: #808080;
  color: black;
  width: 250px;
  height: 30px;
  border-radius: 3px;
}

.form-spacing {
  margin: 5px;
}

.input {
  height: 30px;
  border-radius: 3px;
  width: 240px;
  -webkit-appearance: none;
}

.line {
  margin-left: 30px;
  margin-bottom: 10px;
  width: 250px;
  height: 1px;
  background-color: #e2e6eb;
}