.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

.signin-form {
    width: 300px;
    border: 1px solid #808080;
    border-radius: 3px;
    padding-bottom: 20px;
}

.login-logo {
    height: 100px;
    margin-bottom: 50px;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}
