.transfer {
    position: absolute;
    transform: translate(0%, 80%);
    width: 30%;
    margin-left: 10px;
}

#transfer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}